spring:
  config:
    activate:
      on-profile: docker

  datasource:
    url: jdbc:mysql://mysql:3306/penjualan?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Jakarta
    username: myuser
    password: mypassword

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate: