server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://mysql:3306/penjualan
    username: root
    password: rootpassword
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true

springdoc:
  swagger-ui:
    path: /swagger-ui.html
